<form action="/deleteCookie" method="POST">
  <div class="m-3">
    <label for="cn" class="form-label">Select cookie for delete</label>
    <select name="cookieName" class="form-select" id="cn">
      <option value="monster">MoNster</option>
      <option value="signed_monster">SigNed_MoNster</option>
    </select>
  </div>
  <input type="submit" class="btn btn-primary" value="Delete Cookie">
</form>