<h2 class="display-2">Set Cookie page</h2>
<a href="/getCookie" class="text-decorate-none">Go to visit page with val of your cookies</a>

<form action="/getCookie" method="POST" class="form">
  <div class="my-3">
    <label for="cookieVal" class="form-label">Set cookie value</label>
    <input type="text" class="form-control" id="cookieVal" name="cookieValue">
  </div>
  <div class="my-3">
    <label for="cookieValSign" class="form-label">Set cookie value</label>
    <input type="text" class="form-control" id="cookieValSign" name="signedCookieValue">
  </div>
  <div>
    <input type="submit" class="btn btn-primary btn-lg " value="Create Cookie">
  </div>
</form>